{% extends 'home.html' %}

{% block contents %}
<h1>게시글수정</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
    <label>제목:</label><br>
    <input type="text" name="my_title" class="form-control" value="{{post.title}}">
    </div>
    <div class="form-group">
    <label>내용:</label><br>
    <textarea name="my_contents" class="form-control" rows="10">{{post.contents}}</textarea>
    </div>
    <input type="submit" value="글수정" class="btn btn-primary">
    <a href="/post/{{post.id}}" class="btn btn-secondary">전 단계로 돌아가기</a>
</form>
{% endblock %}
           